@model DropBoxApplication.Models.CustomerEntryModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    //Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/respond.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/ScrollTabla.css" rel="stylesheet" />
@using (Html.BeginForm("SaveCustomer", "CustomerEntry", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong>
            <span>@ViewBag.Message</span>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading"><h4><strong>Customer Entry Form </strong></h4></div>
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.CustomerName, new { id = "CustomerName", @class = "form-group form-control", placeholder = "Customer Name" })
                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { id = "PhoneNumber", @class = "form-group form-control", placeholder = "Mobile Number" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "form-group form-control", placeholder = "Email ID" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextAreaFor(model => model.Address, new { id = "Address", @class = "form-group form-control", placeholder = "Address" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Save" id="btnAdd" class="form-group form-control btn btn-default" />
                    </div>
                    <div class="col-sm-1">
                        <input type="reset" value="Reset" id="btnReset" class="form-group form-control btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {        
        $("#success-alert").slideUp(500);
    });
</script>
@section Scripts {

}
